{% extends "::base.html.twig" %}
{% block title %}Support | Orang-Medic{% endblock %}
{% block body %}
    <div class="top_bg">
        <div class="main_top">
            <h4 class="style">Support</h4>
        </div>
    </div>
    <!-- start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <!-- start grids_of_3 -->
                <div class="grids_of_3">
                        <h5>Salut et bienvenu sur Orang-Medic-mobile<br />
                        Ce site et fourni pour les appareils mobiles, Comme sur Orang-Medic, cette version <br />
                        vous offre la possibilité d'achât en ligne des produits médicaux.<br />
                        Si vous avez une question n'hésitez pas a nous contacter.</h5>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>  
{% endblock %}