{% extends "::base.html.twig" %}
{% block title %}Merci | Orang-Medic{% endblock %}
{% block body %}
    <div class="top_bg">
        <div class="main_top">
            <h4 class="style">Commande enregistré</h4>
        </div>
    </div>
    <!-- start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <!-- start grids_of_3 -->
                <div class="grids_of_3">
                        <h4>Votre commande est enregistré</h4>
                        <script>window.location.href = "http://localhost/Orang-Medic-Mobile/web/app_dev.php"</script>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>  
{% endblock %}